$gold: #B4944A;
$hover-gold: #D1AE5E;
$black: #2D2F34;
$grey: #A1A4A6;
$light-grey: #E2E2E2;
$green: #93C48B;
$red: #D05353;
$offWhite: #f3f3f3;

/*MOVE TO CENTERED LAYOUT*/
@media screen and (max-width: 900px){ 
	.stepWrapper{
		text-align: center;
		margin-top: 55px;
	}

	/*TEMPLATES*/

	.templateBlocks{
		justify-content: center;
		flex-direction: column;
		margin-bottom: 60px;
	}

	.template{
		margin-right: 0;
		max-width: 370px;
		width: 100%;
	}

	/*INFO*/

	.mlsInfoWrapper{
		justify-content: center;
	}

	.mlsInfoWrapper .popLabel input, .dropDown, .dropDown select {
		margin-right: 0;
		width: 100%;
		box-sizing: border-box;
	}

	.mlsInfoWrapper .popLabel, .mlsInfoWrapper .dropDown{
		width: 100%;
	}

	/*MLS INFO*/

	.userInfoWrapper{
		justify-content: center;
	}

	.userInfoWrapper .popLabel input{
		margin-right: 0;
		width: 100%;
		box-sizing: border-box;
	}

	.userInfoWrapper .popLabel{
		width: 100%;
	}

	/*LOGO*/
	.logoWrapper, .profilePicWrapper{
		flex-direction: column;
		margin: 0 0 60px;
	}

	.logoBtnsWrapper{
		margin: 20px auto 0;
		width: 260px;
	}

	.logoBtnsWrapper div{
		font-size: 14px;
		letter-spacing: 1.3px;
	}

	.currentLogo{
		margin: 0 auto;
		width: 260px;
		height: 260px;
	}

	.currentLogo:before{
		font-size: 12px;
		left: 27px;
	}

	/*PAYMENT*/

	.paymentWrapper{
		margin-bottom: 60px;
	}

	.paymentWrapper .popLabel input{
		margin-right: 0;
		width: 100%;
		box-sizing: border-box;
	}

	.paymentWrapper .popLabel{
		width: 100%;
	}

	.formRow{
		margin-bottom: 0;
	}

	.formRow div{
		padding: 0;
		margin-bottom: 20px;
	}

	.packagesWrapper{
		flex-direction: column;
	}

	.packagesBox{
		width: 100%;
		margin-right: 0;
	}

	.comparePackages{
		text-align: center;
		margin: 30px 0 50px;
	}

	/*REVIEW*/

	.reviewTop{
		justify-content: flex-start;
	}

	.reviewLogo{
		margin-top: 60px;
	}

	.reviewTop .template{
		height: 100%;
	}

	.reviewTop>div{
		width: 45%;
	}

	.reviewTop>div:nth-child(odd){
		margin-right: 5%;
	}

	/*NEXT BUTTON STYLES*/
	.nextWrapper{
		padding: 0;
	}

	.nextBtn, .backBtn {
		width: 100%;
		border-radius: 0;
		padding: 20px;
		text-align: center;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.nextBtn{
		box-shadow: 0 2px 6px 0 rgba(0,0,0,0.35);
	}

	.backBtn{
		background-color: $offWhite;
	}

	/*PREIVEW MODAL*/

	.tablet{
		display: none;
	}
}

@media screen and (max-width: 670px){
	.reviewTop>div{
		width: 100%;
	}

	.reviewTop>div:nth-child(odd){
		margin-right: 0;
	}

	.reviewBilling{
		margin-top: 60px;
	}

	.reviewTop .template{
		height: 230px;
	}
}

@media screen and (max-width: 500px){
	.pageWrapper{
		padding: 30px;
	}

	.stepHeadline{
		font-size: 32px;
		margin-bottom: 50px;
	}

	.step, .brokerName{
		font-size: 14px;
	}

	.paymentWrapper .step{
		margin: 40px 0 30px;
	}

	.packageHeader .step{
		margin-top: 0;
	}

	.comparePackages{
		font-size: 14px;
	}

	.packageDescription{
		font-size: 14px;
	}

	/*.reviewInfo, .reviewLogo{
		width: 100%;
		margin-right: 0;
	}

	.reviewLogo{
		margin-top: 40px;
	}

	.reviewWrapper{
		margin-bottom: 60px;
	}*/

	.previewTemplateModal .modalHeader{
		justify-content: flex-end;
	}

	.deviceTypeWrapper{
		display: none;
	}
}